.button-background{
	margin: auto;
	width: 450px;
	height: 200px;
	background-color: #1a2124;
	.button-bottom{
		position: relative;
		margin:auto;
		display: -webkit-box;
		-webkit-box-shadow: 0 0 10px #000000 inset;
		top: 40px;
		width: 400px;
		height: 120px;
		border-radius: 60px;
		border-bottom: 1px solid #36343c;
		background-color: #1a1825;
		.button-bottom-inset{
			position: relative;
		    box-shadow: 0 0 10px #000000 inset;
		    top: 10px;
		    left: 10px;
			width: 380px;
			height: 100px;
			border-radius: 60px;
			border-bottom: 1px solid #36343c;
			background-color: #15181c;
			z-index: 0;
			.close{
				position: relative;
				float: left;
				top: 30px;
				left: 40px;
				font-size: 40px;
				color: #605065;
				text-shadow: 3px 3px 5px #000000;
			}
			.open-container{
				position: relative;
				float: right;
				box-shadow: 0 0 80px #8851a9;
				width: 215px;
				height: 100px;
				border-radius: 60px;
				background: -webkit-linear-gradient(50deg, #ebcef7 0%, #d4acec 20%, #B554FD 45%, #8F4AC3 60%, #7819B7 80%);
				animation: backgroundChange 1s;
				.open{
				    position: relative;
				    float: right;
				    top: 30px;
				    right: 40px;
				    font-size: 40px;
				    color: #fddeff;
				    text-shadow: 2px 2px 5px #000000;
			    }
			}
			.button{
				position: absolute;
				float: left;
				box-shadow: 0 -10px 10px #000000 inset;
				width: 250px;
				height: 100px;
				z-index: 1;
				transition: transform 1s;
				border-radius: 60px;
				border-top: 1px solid #585e6c;
				background: -webkit-linear-gradient(top,#374651,#525967);
				&:hover{
					transform: translateX(130px);
				}
				/*&:hover{
					animation: buttonMove 2s infinite;
                    -moz-animation: buttonMove 2s infinite; 
                    -webkit-animation: buttonMove 2s infinite; 
                    -o-animation: buttonMove 2s infinite; 
					@-moz-keyframes buttonMove{
                        0% {left:0px; top:0px;}
                        50% {left:130px; top:0px;}
                        100% {left:0px; top:0px;}
                    } 
                    @-webkit-keyframes buttonMove{
                        0% {left:0px; top:0px;}
                        50% {left:130px; top:0px;}
                        100% {left:0px; top:0px;}
                    }   
                    @-o-keyframes buttonMove{
                        0% {left:0px; top:0px;}
                        50% {left:130px; top:0px;}
                        100% {left:0px; top:0px;}
                    }  
				}*/  
				.button-inside{
					position: absolute;
				    float: left;
				    box-shadow: 0 3px 10px #525967 inset;
				    width: 250px;
				    height: 98px;
				    z-index: 0;
				    border-radius: 60px;
				    background: -webkit-linear-gradient(top,#374651,#1a1f24);
				}         
				.circle-collection{
					position: relative;
                    left: 80px;
                    top: 23px;
                    width: 100px;
                    height: 50px;
                    ul{
                    	margin: 0;
                    	padding: 0;
                    	list-style: none;
                    	li:last-child{
                    		margin-right: 0;
                    		margin-bottom: 10px;
                    	}
                    }
					.circle{
					    position: relative;
					    float: left;
					    margin-right: 12px;
					    display: -webkit-box;
					    box-shadow: 0 1px 2px #000000;
					    width: 8px;
					    height: 7px;
					    border-radius: 4px;
					    border-top: 1px solid #585e6c;
					    background: -webkit-linear-gradient(top,#4d5a67,#1c2028);
				    }	            
				}
			}
		}	
	}
}