body{
	margin-top: 0;
	margin-left: 0;
}
header{
	padding-left: 10px;
	display: block;
	width: 100%;
	text-align: left;
	font-size: 14px;
	font-weight: bold;
	color: white;
	background-color: #7088ad;
}
[id^=td_title]{
	padding-right: 5px;
	width: 12%;
	text-align: right;
	font-size: 12px;
	color: #333333;
	background-color: #e6e6e6;
}
[id^=td_content]{
    padding-left: 2px;
    width: 21%;
    height: 22px;
    text-align: left;
    background-color: #fafafa;
}
span{color:#ff0000;}
input{
	width: 95%;
	height: 18px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #426c7c;
	border-right-color: #cccccc;
	border-bottom-color: #cccccc;
	border-left-color: #426c7c;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border: 1px solid #0066cc;
}
[id^=btnSearch]{
	width: 20px;
	color: white;
	background-image: url(image/btn_bg1.jpg);
}
input:read-only{background-color: yellow;}
input:-moz-read-only{background-color: yellow;}
input#tbxNum{text-align: right;}
input#tbxPrice{text-align: right;}
input#tbxMoney{text-align: right;}
#tbxFoodsCode{width: 85%;}
#tbxBrand, #tbxPerson, #tbxProduct{width: 20px;}
[id$=\Name]{width: 60%;}
div{text-align: right;}
div#buttonDiv{width: 100%;}
div input[type="button"]{
	width: 68px;
	height: 20px;
	cursor: hand;
	font-size: 12px;
    font-family: 宋体;
    color: white;
    border: none;
    background-color: white;
    background-image: url(image/but_bg.gif);
}
div input[type="reset"]{
	width: 68px;
	height: 20px;
	cursor: hand;
	font-size: 12px;
	font-family: 宋体;
	color: white;
	border: none;
	background-color: white;
	background-image: url(image/but_bg.gif);
}
input[type="text"]#tbxSearchCode{width: 100px;}
div#infoTable{
	overflow:auto;
	width: 100%;
	height: 100%;
}
div table{
	cellpadding:1;
	cellspacing:1;
	width: 100%;
	font-size: 12px;
	text-align: center;
	background-color: white;
	th{
		width: 8%;
		height: 22px;
		color: #ffffff;
		background-color: #7088ad;
		&:nth-last-child(1){width: 15%;}
		&:nth-last-child(2){width: 15%;}
	}
	tr{
		height: 30px;
		&:nth-child(even){background-color: #e6e6e6;}
	}
}