@charset "UTF-8";
/* line 1, webAppDemo.scss */
body {
  margin-top: 0;
  margin-left: 0;
}

/* line 5, webAppDemo.scss */
header {
  padding-left: 10px;
  display: block;
  width: 100%;
  text-align: left;
  font-size: 14px;
  font-weight: bold;
  color: white;
  background-color: #7088ad;
}

/* line 15, webAppDemo.scss */
[id^=td_title] {
  padding-right: 5px;
  width: 12%;
  text-align: right;
  font-size: 12px;
  color: #333333;
  background-color: #e6e6e6;
}

/* line 23, webAppDemo.scss */
[id^=td_content] {
  padding-left: 2px;
  width: 21%;
  height: 22px;
  text-align: left;
  background-color: #fafafa;
}

/* line 30, webAppDemo.scss */
span {
  color: #ff0000;
}

/* line 31, webAppDemo.scss */
input {
  width: 95%;
  height: 18px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: #426c7c;
  border-right-color: #cccccc;
  border-bottom-color: #cccccc;
  border-left-color: #426c7c;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border: 1px solid #0066cc;
}

/* line 48, webAppDemo.scss */
[id^=btnSearch] {
  width: 20px;
  color: white;
  background-image: url(image/btn_bg1.jpg);
}

/* line 53, webAppDemo.scss */
input:read-only {
  background-color: yellow;
}

/* line 54, webAppDemo.scss */
input:-moz-read-only {
  background-color: yellow;
}

/* line 55, webAppDemo.scss */
input#tbxNum {
  text-align: right;
}

/* line 56, webAppDemo.scss */
input#tbxPrice {
  text-align: right;
}

/* line 57, webAppDemo.scss */
input#tbxMoney {
  text-align: right;
}

/* line 58, webAppDemo.scss */
#tbxFoodsCode {
  width: 85%;
}

/* line 59, webAppDemo.scss */
#tbxBrand, #tbxPerson, #tbxProduct {
  width: 20px;
}

/* line 60, webAppDemo.scss */
[id$=\Name] {
  width: 60%;
}

/* line 61, webAppDemo.scss */
div {
  text-align: right;
}

/* line 62, webAppDemo.scss */
div#buttonDiv {
  width: 100%;
}

/* line 63, webAppDemo.scss */
div input[type="button"] {
  width: 68px;
  height: 20px;
  cursor: hand;
  font-size: 12px;
  font-family: 宋体;
  color: white;
  border: none;
  background-color: white;
  background-image: url(image/but_bg.gif);
}

/* line 74, webAppDemo.scss */
div input[type="reset"] {
  width: 68px;
  height: 20px;
  cursor: hand;
  font-size: 12px;
  font-family: 宋体;
  color: white;
  border: none;
  background-color: white;
  background-image: url(image/but_bg.gif);
}

/* line 85, webAppDemo.scss */
input[type="text"]#tbxSearchCode {
  width: 100px;
}

/* line 86, webAppDemo.scss */
div#infoTable {
  overflow: auto;
  width: 100%;
  height: 100%;
}

/* line 91, webAppDemo.scss */
div table {
  cellpadding: 1;
  cellspacing: 1;
  width: 100%;
  font-size: 12px;
  text-align: center;
  background-color: white;
}
/* line 98, webAppDemo.scss */
div table th {
  width: 8%;
  height: 22px;
  color: #ffffff;
  background-color: #7088ad;
}
/* line 103, webAppDemo.scss */
div table th:nth-last-child(1) {
  width: 15%;
}
/* line 104, webAppDemo.scss */
div table th:nth-last-child(2) {
  width: 15%;
}
/* line 106, webAppDemo.scss */
div table tr {
  height: 30px;
}
/* line 108, webAppDemo.scss */
div table tr:nth-child(even) {
  background-color: #e6e6e6;
}
