/* line 1, logIn.scss */
body {
  background-color: #f5f5f5;
}

/* line 4, logIn.scss */
c {
  color: #aeafb1;
}

/* line 7, logIn.scss */
e {
  color: #0058a0;
}

/* line 10, logIn.scss */
.header {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: -8px;
  width: 1190px;
  height: 30px;
  background-color: #e8e8e8;
}
/* line 18, logIn.scss */
.header a {
  color: #7d7d7d;
  text-decoration: none;
}
/* line 22, logIn.scss */
.header .header-left {
  position: relative;
  float: left;
  width: 200px;
  height: 30px;
  line-height: 30px;
  font-size: 15px;
  color: #7d7d7d;
}
/* line 31, logIn.scss */
.header .header-right {
  position: relative;
  float: right;
  width: 400px;
  height: 30px;
  line-height: 30px;
  font-size: 15px;
}

/* line 40, logIn.scss */
d {
  font-size: 20px;
  font-weight: 200px;
  color: #000000;
}

/* line 45, logIn.scss */
.header-below {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 1190px;
  height: 112px;
  background-color: #ffffff;
}
/* line 52, logIn.scss */
.header-below .header-below-left {
  position: relative;
  float: left;
  width: 215px;
  height: 112px;
}
/* line 57, logIn.scss */
.header-below .header-below-left .ec-pic {
  position: relative;
  float: left;
  top: 30px;
  width: 74px;
  height: 47px;
  background-image: url(images/ec-pic.png);
  background-repeat: no-repeat;
}
/* line 66, logIn.scss */
.header-below .header-below-left .ec-text {
  position: relative;
  float: left;
  top: 40px;
  left: 20px;
  width: 110px;
  height: 40px;
}
/* line 73, logIn.scss */
.header-below .header-below-left .ec-text .ec-text-top {
  position: relative;
  float: left;
  font-size: x-large;
}
/* line 78, logIn.scss */
.header-below .header-below-left .ec-text .ec-text-below {
  position: relative;
  float: left;
  font-size: x-small;
}
/* line 85, logIn.scss */
.header-below .header-below-right {
  position: relative;
  float: left;
  top: 40px;
  font-size: 25px;
  color: #797a7c;
}

/* line 93, logIn.scss */
.main-box {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 1190px;
  height: 590px;
}
/* line 99, logIn.scss */
.main-box .main-box-left {
  position: relative;
  float: left;
  top: 30px;
  left: 75px;
  width: 515px;
  height: 360px;
  background-image: url(images/main-left-pic.png);
  background-repeat: no-repeat;
}
/* line 109, logIn.scss */
.main-box .main-box-right {
  position: relative;
  float: right;
  top: 30px;
  right: 75px;
  width: 515px;
  height: 360px;
  background-color: #fff;
}
/* line 117, logIn.scss */
.main-box .main-box-right .main-box-right-1, .main-box .main-box-right .main-box-right-2, .main-box .main-box-right .main-box-right-3, .main-box .main-box-right .main-box-right-4 {
  position: relative;
  float: left;
  margin-top: 10px;
  left: 65px;
  top: 15px;
  width: 380px;
}
/* line 124, logIn.scss */
.main-box .main-box-right .main-box-right-1 .user-name input, .main-box .main-box-right .main-box-right-2 .user-name input, .main-box .main-box-right .main-box-right-3 .user-name input, .main-box .main-box-right .main-box-right-4 .user-name input {
  position: relative;
  top: 5px;
  width: 380px;
  height: 35px;
  font-size: 20px;
  background-image: url(images/main-right-1-pic.png);
  background-repeat: no-repeat;
  background-position: right;
}
/* line 137, logIn.scss */
.main-box .main-box-right .main-box-right-2 .user-password input {
  position: relative;
  top: 5px;
  width: 380px;
  height: 35px;
  font-size: 20px;
  background-image: url(images/main-right-2-pic.png);
  background-repeat: no-repeat;
  background-position: right;
}
/* line 150, logIn.scss */
.main-box .main-box-right .main-box-right-3 .user-verification input {
  position: relative;
  float: left;
  top: 5px;
  width: 140px;
  height: 35px;
  font-size: 20px;
}
/* line 158, logIn.scss */
.main-box .main-box-right .main-box-right-3 .user-verification-pic {
  position: relative;
  float: left;
  top: 5px;
  left: 20px;
  width: 65px;
  height: 40px;
  background-image: url(images/user-verification-pic.png);
  background-repeat: no-repeat;
}
/* line 168, logIn.scss */
.main-box .main-box-right .main-box-right-3 .verification-pic-change {
  position: relative;
  float: left;
  left: 20px;
}
/* line 172, logIn.scss */
.main-box .main-box-right .main-box-right-3 .verification-pic-change li {
  list-style: none;
}
/* line 179, logIn.scss */
.main-box .main-box-right .main-box-right-4 .submit-button input {
  position: relative;
  float: left;
  top: 15px;
  width: 385px;
  height: 40px;
  font-size: 20px;
  color: #ffffff;
  background-color: #e22335;
  border-radius: 5px;
}
/* line 190, logIn.scss */
.main-box .main-box-right .main-box-right-4 .auto-log-in {
  position: relative;
  float: left;
  top: 25px;
}
/* line 195, logIn.scss */
.main-box .main-box-right .main-box-right-4 .forget-password {
  position: relative;
  float: left;
  top: 25px;
  margin-left: 75px;
}
/* line 201, logIn.scss */
.main-box .main-box-right .main-box-right-4 .free-register {
  position: relative;
  float: left;
  top: 25px;
  margin-left: 35px;
}
/* line 206, logIn.scss */
.main-box .main-box-right .main-box-right-4 .free-register a {
  color: #7d7d7d;
  text-decoration: none;
}

/* line 214, logIn.scss */
.footer-above {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  width: 1190px;
  height: 195px;
  background-color: #f0f0f0;
}
/* line 222, logIn.scss */
.footer-above ul li {
  list-style: none;
  color: #888888;
  font-size: small;
}
/* line 227, logIn.scss */
.footer-above .footer-above-text-1 {
  position: relative;
  float: left;
  top: 20px;
  left: 43px;
}
/* line 233, logIn.scss */
.footer-above .footer-above-text-2 {
  position: relative;
  float: left;
  top: 20px;
  left: 130px;
}
/* line 239, logIn.scss */
.footer-above .footer-above-text-3 {
  position: relative;
  float: left;
  top: 20px;
  left: 240px;
}
/* line 245, logIn.scss */
.footer-above .footer-above-text-4 {
  position: relative;
  float: left;
  top: 20px;
  left: 340px;
}
/* line 251, logIn.scss */
.footer-above .footer-above-text-5 {
  position: relative;
  float: right;
  top: 20px;
  right: 90px;
}

/* line 258, logIn.scss */
.footer {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  top: 20px;
  width: 1190px;
  height: 97px;
  background-color: #303030;
  text-align: center;
}
/* line 267, logIn.scss */
.footer .footer-text {
  position: relative;
  float: left;
  left: 430px;
  top: 30px;
  text-align: center;
  font-size: 12px;
  color: #686671;
}
