body{
	background-color: #f5f5f5;
}
c{
 	color: #aeafb1;
 }
 e{
 	color: #0058a0;
 }
 .header{
	position: relative;
	margin-left: auto;
	margin-right: auto;
	margin-top: -8px;
	width: 1190px;
	height: 30px;
	background-color: #e8e8e8;
	a{
	color: #7d7d7d;
	text-decoration: none;
	}
	.header-left{
		position: relative;
		float: left;
		width: 200px;
		height: 30px;
		line-height: 30px;
		font-size: 15px;
		color: #7d7d7d;
	}
	.header-right{
		position: relative;
		float: right;
		width: 400px;
		height: 30px;
		line-height: 30px;
		font-size: 15px;
	}
}
d{
	font-size: 20px;
	font-weight:200px;
	color:#000000;
}
.header-below{
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 1190px;
	height: 112px;
	background-color: #ffffff;
	.header-below-left{
		position: relative;
		float: left;
		width: 215px;
		height: 112px;
		.ec-pic{
			position: relative;
			float: left;
			top:30px;
			width: 74px;
			height: 47px;
			background-image: url(images/ec-pic.png);
			background-repeat: no-repeat;
		}
		.ec-text{
			position: relative;
			float: left;
			top: 40px;
			left: 20px;
			width: 110px;
			height: 40px;
			.ec-text-top{
				position: relative;
				float: left;
				font-size: x-large;
			}
			.ec-text-below{
				position: relative;
				float: left;
				font-size: x-small;
			}
		}
	}
	.header-below-right{
		position: relative;
		float: left;
		top: 40px;
	    font-size:25px;
	    color:#797a7c;
	}
}
.main-box{
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 1190px;
	height: 590px;
	.main-box-left{
		position: relative;
		float: left;
		top: 30px;
		left: 75px;
		width: 515px;
		height: 360px;
		background-image: url(images/main-left-pic.png);
		background-repeat: no-repeat;
	}
	.main-box-right{
		position: relative;
		float: right;
		top: 30px;
		right: 75px;
		width: 515px;
		height: 360px;
		background-color: #fff;
		.main-box-right-1{
			position: relative;
			float: left;
			margin-top: 10px;
			left: 65px;
			top: 15px;
			width: 380px;
			.user-name input{
				position: relative;
                top:5px;
                width: 380px;
                height: 35px;
                font-size: 20px;
                background-image:url(images/main-right-1-pic.png);
                background-repeat: no-repeat;
                background-position:right;
			}
		}
		.main-box-right-2{
			@extend .main-box-right-1;
			.user-password input{
				position: relative;
                top:5px;
                width: 380px;
                height: 35px;
                font-size: 20px;
                background-image:url(images/main-right-2-pic.png);
                background-repeat: no-repeat;
                background-position:right;
			}
		}
		.main-box-right-3{
			@extend .main-box-right-1;
			.user-verification input{
				position: relative;
                float: left;
                top:5px;
                width: 140px;
                height: 35px;
                font-size: 20px;
			}
			.user-verification-pic{
	            position: relative;
	            float:left;
	            top:5px;
	            left:20px;
                width: 65px;
                height: 40px;
                background-image: url(images/user-verification-pic.png);
                background-repeat: no-repeat;
			}
			.verification-pic-change{
	            position: relative;
	            float:left;
                left:20px;
                li{
	                list-style:none;
                }
            }
		}
		.main-box-right-4{
			@extend .main-box-right-1;
			.submit-button input{
                position:relative;
	            float:left;
	            top:15px;
	            width:385px;
	            height:40px;
	            font-size:20px;
	            color:#ffffff;
	            background-color:#e22335;
	            border-radius: 5px;
			}
			.auto-log-in{
	            position:relative;
                float:left;
                top:25px;
            }
            .forget-password{
	            position:relative;
	            float:left;
	            top:25px;
	            margin-left:75px;
            }
            .free-register{
	            position: relative;
	            float: left;
	            top: 25px;
	            margin-left: 35px;
	            a{
	                color: #7d7d7d;
	                text-decoration: none;
	            }
	        }
	    }     
	}
}
.footer-above{
	position: relative;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	width: 1190px;
	height: 195px;
	background-color: #f0f0f0;
	ul li{
    list-style: none;
    color: #888888;
    font-size: small;
    }
    .footer-above-text-1{
	position:relative;
	float:left;
	top:20px;
	left:43px;
    }
    .footer-above-text-2{
	    position:relative;
	    float:left;
	    top:20px;
	    left:130px;
    }
    .footer-above-text-3{
	    position:relative;
	    float:left;
	    top:20px;
	    left:240px;
    }
    .footer-above-text-4{
	    position:relative;
	    float:left;
	    top:20px;
	    left:340px;
    }
    .footer-above-text-5{
	    position:relative;
	    float:right;
	    top:20px;
	    right:90px;
    }
}
.footer{
	position: relative;
	margin-left: auto;
	margin-right: auto;
	top: 20px;
	width: 1190px;
	height: 97px;
	background-color: #303030;
	text-align:center;
	.footer-text{
	position: relative;
	float: left;
	left: 430px;
	top: 30px;
    text-align:center;
    font-size:12px;
    color:#686671;
    }
}